# Configurações do PostgreSQL
POSTGRES_DB=beneficio_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Configurações do Backend
BACKEND_PORT=8080
JAVA_OPTS=-Xmx512m -Xms256m
SPRING_PROFILES_ACTIVE=docker

# Configurações do Frontend
FRONTEND_PORT=80
